<article class="article">
	<!-- 选自webpack-seed/pages/alert/index/content.ejs -->
	<div id="page-wrapper">
	  <div class="container-fluid" >
	  	<h1>income</h1>
	    <h2 class="page-header"></h2>
	  </div>
	</div>

	<section id="app"></section>

	<!--显示头像-->
	<button @click="showAvatar">点我ya，显示美女头像s2a</button>

	<img src="${require('../../../src/img/1.png')}" />
	<img src="${require('../../../src/img/1.png')}" />
	<img src="${require('../../../src/img/2.jpg')}" />
	<img src="${require('../../../src/img/4.png')}" />

	<img src="${require('../../../src/img/1.png')}" />


	<img src="${require('../../../src/img/5.png')}" />
	<span class="img_bg"></span>
</article>