<!-- 选自webpack-seed/pages/alert/index/content.ejs -->
<div id="page-wrapper">
  <div class="container-fluid" >
    <h1>recharge</h1>
    <h2 class="page-header"><%= pageTitle %></h2>
  </div>
</div>

<section id="app"></section>